.map-wrap {
  position: relative;
  width: 95%;
  height: calc(
    50vh - 77px
  ); /* calculate height of the screen minus the heading */
}
.row {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  /* Center the items vertically */ /* Adjust the height of the row as needed */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.geocoding {
  position: absolute;
  top: 10px;
  left: 10px;
}
.map-search-container {
  position: relative;
  z-index: 1001; /* Set a higher z-index value */
}
